{% extends "../main.html" %}

{% load static %}

{% block website_title %} - Forgot Password{% endblock %}

{% block body_content %}

<section class="reset-section">
    <div class="form-container">
        <h1 class="section-title">Forgotten your Password</h1>
        <p class="section-subtitle">Enter your e-mail address to obtain a new password</p>

        <form method="POST" class="form self_rendered_forms">

            {% if error %}
                <div class="error-container">
                    {{error}}
                </div>
            {% endif %}

            {% csrf_token %}

            {{ form.as_div }}

            <button class="btn primary-btn" type="submit">Send Email</button>
        </form>
    </div>
</section>

{% endblock body_content %}