{% extends "../main.html" %}

{% load static %}

{% block website_title %} - Reset Password{% endblock %}

{% block body_content %}

<section class="reset-section">
    <div class="form-container">
        <h1 class="section-title">Reset your Password</h1>
        {% if validlink %}
            <p class="section-subtitle">Please enter your new password twice:</p>

            <form method="POST" class="form self_rendered_forms">

                {% if error %}
                    <div class="error-container">
                        {{error}}
                    </div>
                {% endif %}

                {% csrf_token %}

                {{ form.as_div }}

                <button class="btn primary-btn" type="submit">Change my Password</button>
            </form>
        {% else %}
            <p class="section-subtitle">
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
            </p>
        {% endif %}
    </div>
</section>

{% endblock body_content %}