{% load static %}

<footer class="section">
    <div class="footer-grid">
        <div class="footer-company">
            <img src="{% static 'images/logo.png' %}" alt="">
            <p>
                Revolutionizing conversations with seamless multilingual communication and real-time translation.
            </p>

            <div class="footer-socials">
                <a href="https://www.facebook.com/profile.php?id=100066507025302&mibextid=ZbWKwL" class="footer-social">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="" class="footer-social">
                    <i class="ri-twitter-x-fill"></i>
                </a>
                <a href="https://www.instagram.com/kanzarehman625?igsh=MXNhdnkzMzJ0bXl5ZA==" class="footer-social">
                    <i class="ri-instagram-fill"></i>
                </a>
                <a href="https://pin.it/7icKLUxDv" class="footer-social">
                    <i class="ri-pinterest-fill"></i>
                </a>
            </div>
        </div>

        <div class="footer-links">
            <h4>Resources</h4>
            <div class="footer-links-wrapper">
                <a href="">Help Center</a>
                <a href="">Productivity</a>
                <a href="">Methods</a>
                <a href="">Refer a friend</a>
                <a href="">Integrations</a>
            </div>
        </div>

        <div class="footer-links">
            <h4>Product</h4>
            <div class="footer-links-wrapper">
                <a href="">How it Works</a>
                <a href="">Login</a>
                <a href="">Get SpeakEasy for Free</a>
                <a href="">Task</a>
                <a href="">Management</a>
            </div>
        </div>

        <div class="footer-links">
            <h4>About</h4>
            <div class="footer-links-wrapper">
                <a href="">About</a>
                <a href="">Contact</a>
                <a href="">We are hiring!</a>
                <a href="">Blog</a>
                <a href="">Press</a>
            </div>
        </div>
    </div>

    <p class="copyright-text">
        Copyright &copy; {% now "Y" %} <span>SpeakEasy</span>. All Rights Reserved.
    </p>
</footer>